<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('新增-')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle formRequired">类别名称</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类别名称" v-model="cbsTKeepType.typeName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">类别图标</td>
	            <td class="formValue">
					<input type="text" class="form-control" v-model="cbsTKeepType.typeIcon" placeholder="图标，点击右边按钮选取图标 "/>
					<span class="input-button" title="选取图标" @click="selectIcon">...</span>
				</td>
        	</tr>
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/js/cbs/cbstkeeptype/add.js}"></script>
</body>
</html>