<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
<!-- <link th:href="@{/statics/plugins/fullcalendar-4.0.2/packages/core/main.css}" rel="stylesheet"/>
<link th:href="@{/statics/plugins/fullcalendar-4.0.2/packages/daygrid/main.css}" rel="stylesheet"/>
<link th:href="@{/statics/plugins/fullcalendar-4.0.2/packages/timegrid/main.css}" rel="stylesheet"/>
<link th:href="@{/statics/plugins/fullcalendar-4.0.2/packages/list/main.css}" rel="stylesheet"/> -->
<link th:href="@{/statics/plugins/fullcalendar-3.10.0/fullcalendar.min.css}" rel="stylesheet"/>
<link th:href="@{/statics/plugins/fullcalendar-3.10.0/fullcalendar.print.min.css}" rel="stylesheet" media="print"/>
</head>
<body>
<div id="dpLTE">
	<div class="row">
		<div id="calendar">
		</div>
	</div>
</div>
<div th:include="include/footer_js::footer"></div>
<!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
<!-- <script th:src="@{/statics/plugins/fullcalendar-4.0.2/packages/core/main.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-4.0.2/packages/core/locales/zh-cn.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-4.0.2/packages/interaction/main.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-4.0.2/packages/daygrid/main.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-4.0.2/packages/timegrid/main.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-4.0.2/packages/list/main.js}"></script> -->
<script th:src="@{/statics/plugins/fullcalendar-3.10.0/lib/moment.min.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-3.10.0/lib/jquery.min.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-3.10.0/fullcalendar.min.js}"></script>
<script th:src="@{/statics/plugins/fullcalendar-3.10.0/locale-all.js}"></script>
<script th:src="@{/statics/js/cbs/cbstworklog/list.js}"></script>
</body>
</html>