<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('编辑-')"></head>
</head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
				<td class="formTitle formRequired">日期</td>
				<td class="formValue">
					<!-- <el-input id="start" placeholder="时间" v-model="cbsVBookKeep.start" isvalid="yes" checkexpession="NotNull"></el-input> -->
					<!--<el-date-picker placeholder="时间" type="datetime" v-model="cbsVBookKeep.start" isvalid="yes" checkexpression="NotNull"></el-date-picker>-->
					<el-date-picker placeholder="日期" v-model="cbsVBookKeep.start" isvalid="yes" checkExpression="NotNull"></el-date-picker>
				</td>
			</tr>
			<tr>
				<td class="formTitle formRequired">时间</td>
				<td class="formValue">
					<!-- <el-input id="start" placeholder="时间" v-model="cbsVBookKeep.start" isvalid="yes" checkexpession="NotNull"></el-input> -->
					<!--<el-date-picker placeholder="时间" type="datetime" v-model="cbsVBookKeep.start" isvalid="yes" checkexpression="NotNull"></el-date-picker>-->
					<el-time-picker placeholder="时间" v-model="cbsVBookKeep.start" format="HH:mm" isvalid="yes" checkexpression="NotNull"></el-time-picker>
				</td>
			</tr>
			<tr>
				<td class="formTitle formRequired">金额</td>
				<td class="formValue">
					<el-input placeholder="0.00" v-model="cbsVBookKeep.money" isvalid="yes" checkexpession="NotNull"></el-input>
				</td>
			</tr>
			<tr>
				<td class="formTitle formRequired">类型</td>
				<td class="formValue">
					<el-select v-model='cbsVBookKeep.outIn' placeholder='请选择类型'>
						<el-option key="OUT" label="支出" value="OUT"></el-option>
						<el-option key="IN" label="收入" value="IN"></el-option>
					</el-select>
				</td>
			</tr>
			<tr>
				<td class="formTitle formRequired">类别</td>
				<td class="formValue">
					<el-select v-model='cbsVBookKeep.typeId' placeholder='请选择类别'>
						<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
							<span style="float: left">{{item.label}}</span>
							<span style="float: right"><i :class="item.icon"></i></span>
						</el-option>
					</el-select>
				</td>
			</tr>
			<tr>
				<td class="formTitle">备注</td>
				<td class="formValue">
					<el-input placeholder="备注" v-model="cbsVBookKeep.remark"></el-input>
				</td>
			</tr>
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/js/cbs/cbsvbookkeep/edit.js}"></script>
</body>
</html>