<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('新增-')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
				<td class="formTitle">开始日期</td>
				<td class="formValue">
					{{formatDate(cbsTCalenEvent.start, 'yyyy-MM-dd')}}
				</td>
			</tr>
			<tr>
	            <td class="formTitle formRequired">开始时间</td>
	            <td class="formValue">
					<el-time-picker placeholder="开始时间" type="datetime" v-model="cbsTCalenEvent.start" isvalid="yes" checkexpression="NotNull"></el-time-picker>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">类型</td>
	            <td class="formValue">
					<el-select v-model="cbsTCalenEvent.eventType">
						<el-option v-for="item in eventTypes" :key="item.value" :label="item.text" :value="item.value">
						</el-option>
					</el-select>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">工作内容</td>
	            <td class="formValue">
					<el-input type="textarea" :autosize="{minRows: 2}" placeholder="备注" v-model="cbsTCalenEvent.title" checkexpression="NotNull"></el-input>
	            </td>
        	</tr>
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/plugins/element-ui/element-ui-2.7.2/index.js}"></script>
    <script th:src="@{/statics/js/cbs/cbstworklog/add.js}"></script>
</body>
</html>