<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('新增-')"></head>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle formRequired">时间</td>
	            <td class="formValue">
					<!-- <el-input id="keepTime" placeholder="时间" v-model="cbsTWorklog.keepTime" isvalid="yes" checkexpession="NotNull"></el-input> -->
					<el-date-picker placeholder="时间" type="datetime" v-model="cbsTCalenEvent.start" isvalid="yes" checkexpression="NotNull"></el-date-picker>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">工作内容</td>
	            <td class="formValue">
					<el-input placeholder="备注" v-model="cbsTCalenEvent.title"></el-input>
	            </td>
        	</tr>
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script th:src="@{/statics/js/cbs/cbstworklog/add.js}"></script>
</body>
</html>