<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.cbs.dao.CbsTCalenEventTypeMapper">
	
	<select id="listForPage" resultType="CbsTCalenEventTypeEntity" flushCache="true">
		SELECT
			`ID`, 
			`UID`, 
			`TYPE_CODE`, 
			`TYPE_NAME`, 
			`TYPE_TYPE`, 
			`CLASS_NAME`, 
			`EDITABLE`, 
			`SOURCE`, 
			`COLOR`, 
			`BACKGROUND_COLOR`, 
			`BORDER_COLOR`, 
			`TEXT_COLOR`, 
			`REMARK`, 
			`CREATE_TIME`, 
			`UPDATE_TIME`
		FROM
			CBS_T_CALEN_EVENT_TYPE
		ORDER BY
			ID DESC
	</select>
	
	<insert id="save">
		INSERT INTO CBS_T_CALEN_EVENT_TYPE (
			`UID`, 
			`TYPE_CODE`, 
			`TYPE_NAME`, 
			`TYPE_TYPE`, 
			`CLASS_NAME`, 
			`EDITABLE`, 
			`SOURCE`, 
			`COLOR`, 
			`BACKGROUND_COLOR`, 
			`BORDER_COLOR`, 
			`TEXT_COLOR`, 
			`REMARK`, 
			`CREATE_TIME`, 
			`UPDATE_TIME`
		)
		VALUES (
			#{uid}, 
			#{typeCode}, 
			#{typeName}, 
			#{typeType}, 
			#{className}, 
			#{editable}, 
			#{source}, 
			#{color}, 
			#{backgroundColor}, 
			#{borderColor}, 
			#{textColor}, 
			#{remark}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="CbsTCalenEventTypeEntity">
		SELECT
			`ID`, 
			`UID`, 
			`TYPE_CODE`, 
			`TYPE_NAME`, 
			`TYPE_TYPE`, 
			`CLASS_NAME`, 
			`EDITABLE`, 
			`SOURCE`, 
			`COLOR`, 
			`BACKGROUND_COLOR`, 
			`BORDER_COLOR`, 
			`TEXT_COLOR`, 
			`REMARK`, 
			`CREATE_TIME`, 
			`UPDATE_TIME`
		FROM
			CBS_T_CALEN_EVENT_TYPE
		WHERE
			ID = #{id}
	</select>
	
	<update id="update">
		UPDATE CBS_T_CALEN_EVENT_TYPE
	 	<set>
			<if test="uid != null">`UID` = #{uid}, </if>
			<if test="typeCode != null">`TYPE_CODE` = #{typeCode}, </if>
			<if test="typeName != null">`TYPE_NAME` = #{typeName}, </if>
			<if test="typeType != null">`TYPE_TYPE` = #{typeType}, </if>
			<if test="className != null">`CLASS_NAME` = #{className}, </if>
			<if test="editable != null">`EDITABLE` = #{editable}, </if>
			<if test="source != null">`SOURCE` = #{source}, </if>
			<if test="color != null">`COLOR` = #{color}, </if>
			<if test="backgroundColor != null">`BACKGROUND_COLOR` = #{backgroundColor}, </if>
			<if test="borderColor != null">`BORDER_COLOR` = #{borderColor}, </if>
			<if test="textColor != null">`TEXT_COLOR` = #{textColor}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="updateTime != null">`UPDATE_TIME` = #{updateTime}</if>
		</set>
		WHERE
			ID = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			CBS_T_CALEN_EVENT_TYPE
		WHERE
			ID IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

</mapper>