<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('新增-')"></head>
<link th:href="@{/statics/plugins/element-ui/element-ui-2.7.2/index.css}" rel="stylesheet"/>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle formRequired">类型代码</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类型代码" v-model="cbsTCalenEventType.typeCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">类型名称</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类型名称" v-model="cbsTCalenEventType.typeName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">类型的类型</td>
	            <!-- <td class="formValue">
					<input type="text" class="form-control" placeholder="类型的类型" v-model="cbsTCalenEventType.typeType" isvalid="yes" checkexpession="NotNull">
	            </td> -->
	            <td class="formValue">
		        	<el-select v-model="cbsTCalenEventType.typeType">
		            	<el-option v-for="item in options" :key="item.value" :label="item.text" :value="item.value">
		            	</el-option>
		            </el-select>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle formRequired">备注</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注" v-model="cbsTCalenEventType.remark">
	            </td>
        	</tr>
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/plugins/element-ui/element-ui-2.7.2/index.js}"></script>
    <script th:src="@{/statics/js/cbs/cbstcaleneventtype/add.js}"></script>
</body>
</html>